
.container {
  text-align: center;
  height: 100%;
  margin: 0 auto;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.containerInterno {
  background-color: #0000;
  display: inline-block;
  vertical-align: middle;
  width: 350px;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}

input[type="button"] {
  width: 35px;
}

div.panel div {
  float: left;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 2px solid black;
  border-radius: 50%;
  color: black;
  text-align: center;
  text-decoration: none;
  background: white;
  box-shadow: 0 0 3px gray;
  font-size: 20px;
  font-weight: bold;
  margin-right: 8px;
  margin-bottom: 8px;
}
.panel h3 {
  color: #ffff00;
}
.panel .off {
  margin: 10px 25px 10px 22px;
}
.display {
  color: #fff;
}
.clear {
  clear: both;
}
div.panel div.on {
  background: #ffff00;
}
ul.floors {
  padding: 0px;
  align-items: center;
  text-align: center;
}
.display {
  margin-top: 40px;
}
.floors li {
  margin-bottom: 20px;
    list-style: none;
    color: #fff;
    font-size: 16px;
    text-align: inherit;
    margin-left: 55px;
}
.floors span {
  width: 60px;
  display: block;
  float: left;
}
.floors .on {
  background: #ffff00;
}
.display {
  font-size: 30px;
  font-weight: bold;
}
.hidden {
  display: none !important;
}
