p,
section {
  color: #685206;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px;
  text-align: center;
  text-justify: inter-word;
}

.display {
  overflow: hidden;

  margin: 5px;
  padding: 12px 12px;

  text-align: right;

  border: 0 none;
  border-radius: 4px;

  color: #3ac569;
  background-color: #000;
}

.display.-sm-width {
  max-width: 208px;
  text-align: center;
  margin-top: 2%;
}

#yellow {
  margin: 0 5px;
  background-color: #FFC0CB;
}

#yellow:hover{
  background-color: #DB7093;

}

#blue {
  margin: 0 5px;
  background-color: #FFC0CB;

}

#blue:hover {
  background-color: #DB7093;
}

#green {
  margin: 0 5px;
  background-color: #FFC0CB;

}

#green:hover {
  background-color: #DB7093;
}

